


<div class="container">
  <div class="modal modal-form">
  <div class="modal-header">
    <h4>Writing Here</h4>
  </div>
<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h4 class="btn-warning"><%= pluralize(@post.errors.count, "error") %> prohibited this comment from being saved:</h4>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="modal-body">
  <div class="span4">
    <%= f.label :name %></div>
    <div class="span4">
    <%= f.text_field :name %>
  </div>
  <div class="span4">
    <%= f.label :post_comment %>
  </div>
    <div class="span4">
    <%= f.text_area :post_comment%>
  </div>
</div>
 
 
<div class="modal-footer">
<%= link_to '<< Back', birthdays_path %>
<div class="pull-right">
<%=f.submit "comment", class:'btn'%>
</div>
</div>
</div>
<% end %>
</div>