


<div class="modal modal-form">
  <div class="modal-header"><h4>Writing Here</h4></div>
<div class="modal-body">
<%= form_for(@birthday) do |f| %>
  <% if @birthday.errors.any? %>
    <div class="span4">
      <h4 class="btn-warning"><%= pluralize(@birthday.errors.count, "error") %> prohibited this birthday from being saved:</h4>

      <ul>
      <% @birthday.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="span4">
    <%= f.label :title %>
  </div>
    <div class="span4">
    <%= f.text_field :title %>
  </div>
  <div class="span4">
    <%= f.label :select_image %></div>
    <div class="span4">
    <%= f.file_field :img %>
  </div>
  <div class="span4">
    <%= f.label :remote_img_url, "Or image URL"%>
  </div>
  <div class="span4">
    <%= f.text_field :remote_img_url %>
  </div>




  <div class="span4">
    <%= f.label :wish %>
  </div>
    <div class="span4">
    <%= f.text_area :wish %>
  </div>
</div>

<div class="modal-footer">
  <div class="pull-right">
    <%= f.submit "create", :class => "btn"%>
  </div>
<% end %>
<%= link_to "<< Back", birthdays_path %>

