
<div class="navbar navbar-fixed-top navbar-inner">
  <div class="brand">
    <a href="#">
<%if signed_in?%>
<%if current_user.email == "leangmeyheng@yahoo.com"%>
Hello! Mey
<%elsif current_user.email == "new.mingliang@gmail.com"%>
Hello! Reaksmey
<%end%>
</a>
</div>

 <div class="container-fluid"> 
<div class="nav-collapse">
  <ul class="nav">
    <li><%=link_to "Home", birthdays_path%></li>
    <li><%=link_to "comment", birthdays_path%></li>
  </ul>

  </div>

  <div class="pull-right">
  <div class="nav-collapse">
  <ul class="nav">
    <li><%=link_to "Edit",edit_user_registration_path%></li>
    <li><%= link_to "Log out ", destroy_user_session_path, method: :delete%></li>
  </ul>

  </div>
</div>
</div>


</div>
<div class="top"></div>
<div class="container">
<div class="page-header">

<%=image_tag "happybirthday.jpg", :class=> "photo" %>
</div>
</div>


<div class="container">
<div class="leaderboard">
<h1>Reaksmey's Gift</h1>
</div>

<% @birthdays.each do |birthday| %>
  

    <div class="row">
    <div class="span6"><%= image_tag(birthday.img, class:"photo") %></div>
      <div class="span6-edited">

     <div class="box">
     </div>


        <div class="span5">
          <strong><%=birthday.title%><br></strong>
      <%= birthday.wish %>
        </div>
     
    </div>
  </div>
  <!-- comment !-->
  









<%if current_user.email == "leangmeyheng@yahoo.com"%>



    <%elsif current_user.email == "new.mingliang@gmail.com"%>

      <div class="span12">
 
<strong>
 <% if birthday.created_at > Time.now.beginning_of_day %>
    <%="#{time_ago_in_words(birthday.created_at)} ago"%>  
<% else %>
    <%= birthday.created_at.strftime("%b %d, %Y") %>
<% end %>
      </strong><br>
    <%= link_to 'Show', birthday, :class=> "btn btn-mini btn-success" %>
    <%= link_to 'Edit', edit_birthday_path(birthday), :class=> "btn btn-mini btn-warning" %>
    <%= link_to 'Destroy', birthday, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini" %>


  </div>


<div class="span12">
    <%= link_to 'New Birthday', new_birthday_path, :class => "btn btn-primary" %>
  </div>
  <%end%>

<% end %>




<%else%>

<%=render 'layouts/location'%>
<%end%>



</div>
<div class="container">
<% @posts.each do |post|%>

  <strong><%=post.name%></strong>
<div class="row">
<div class="span9">
  <div class="box"></div>
<div class="well-edit"> 
<div class="row">
  <div class="span8">
<%=post.post_comment%>
  </div>
  <div class="span9">
  <div class="span3">

    <%= link_to 'Edit', edit_post_path(post), :class=> "btn btn-mini btn-primary" %>
    <%= link_to 'Remove', post, method: :delete, data: { confirm: 'Are you sure?' }, :class=> "btn btn-mini btn-warning" %>

</div>
<div class="pull-right">
  <div class="span3"><strong>
  
<% if post.created_at > Time.now.beginning_of_day %>
<%="#{time_ago_in_words(post.created_at)} ago"%>
<%else%>
   <%= post.created_at.strftime("%b %d, %Y") %>
   <%end%>

</strong>
</div>
</div>
</div>

</div>




<!--update comment !-->

</div>

<%end%>

<div class="span12">
 
<%=link_to "comment", new_post_path, :class=>"btn" %>

</div>
</div>